@page
@model HolaWeb.App.Frontend.Pages.DetailModel
@{
}

<h1>Detalle de Saludo</h1>
<p>@Model.Saludo.Id</p>
<p>@Model.Saludo.EnEspañol</p>
<p>@Model.Saludo.EnIngles</p>
<p>@Model.Saludo.EnItaliano</p>
